body{
    height: 100vh;
}

.profile-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.profile-image{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background-size: cover;
}

.profile-info-div{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 60vw;
    /* border: .5px solid white; */
    background: linear-gradient(to right, #232526, #414345);
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    box-shadow: inset 0px 0px 56px 6px black;
    /* filter: drop-shadow(0 0 10px rgb(107, 255, 255)); */
}

.user-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user-about-div{
    display: flex;
    flex-direction: column;
    color: white !important;
    justify-content: space-evenly;
    height: 40%;
    align-items: center;
}

.user-about-div div{
    display: flex;
    flex-direction: column;
}

.user-about-span{
    color: white;
}

.about-span{
    font-size: 13px;
    margin: 3px;
}

.upload-first-div{
    /* background-color: blueviolet; */
    text-align: center;
    align-items: center;
}

.uploaded-image{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    border: .5px solid blue;
}

.upload-span{
    position: absolute;
    top: 40%;
    left: 49.3%;
    color: aliceblue;
    font-size: 30px;
    font-weight: lighter;
}

.name-inner-span{
    color: rgb(244, 109, 51);
}

.user-about-span{
    margin: 10px;
    font-weight: lighter;
    color: azure;
}

.submit-btn{
    padding: 5px;
    width: 60px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: .5px solid white;
    color: white;
}

.submit-btn:hover{
    color: cornflowerblue;
    background-color: white;
    border: .5px solid cornflowerblue;

}

.find-users-div{
    display: flex;
    justify-content: space-evenly;
}

.add-user-div{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #2b5876, #4e4376);
    padding: 10px;
    border-radius: 5px;
    border: .5px solid white;
}

.add-user-image{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: .3px solid rgb(107, 255, 255);
    /* box-shadow: inset 0 0 3px rgb(107, 255, 255); */
    filter: drop-shadow(0 0 3px rgb(107, 255, 255));
    cursor: pointer;
}

.user-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name-span{
    color: rgb(233, 228, 228);
    font-size: large;
}

.user-username-span{
    color: #23ffd7;
    font-size: x-small;
    background-color: #590a60b8;
    padding: 1px 2px;
    border-radius: 2px; 
    border-left: .5px solid #23ffd7;
    border-right: .5px solid #23ffd7;
    box-shadow:inset 0 0 3px skyblue;
}

.user-sm-name-span{
    color: rgb(225, 222, 222);
    font-size: small;
    font-weight: lighter;
}

.user-avatar-div{
    /* background-color: #2b5876; */
    width: 60%;
    align-items: center;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid aqua;
    border-radius: 5px;
    padding: 3px;
}

.message-icon{
    font-size: 22px;
    color: aqua;
    cursor: pointer;
}

.msg-text{
    font-size: 12px;
    font-weight: lighter;
    color: white;
}

.user-msg-image{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    filter: drop-shadow(0 0 3px black);

}

.send-msg-div{
    display: flex;
    background: linear-gradient(to right, #74ebd5, #acb6e5); 
    align-items: center;
    padding: 3px;
    border-radius: 3px;
    border: .5px solid aqua;
}

.msg-input{
    margin: 3px;
    border: .5px solid aqua;
    background-color: rgb(94, 94, 94);
    border-radius: 2px;
    color: #c3cbf1;
}

.msg-input:focus{
    outline: none;
    box-shadow:inset 0 0 5px black;
}

.send-msg-icon{
    color: #23ffd7;
    cursor: pointer;
}

.current-msg-div{
    display: flex;
    width: 17.5vw;
}

.current-msg-span{
    width: fit-content;
    background: linear-gradient(to right, #74ebd5, #acb6e5); 
    min-width: 25px;
    border-radius: 12.5px;
    padding: 1px 5px;
    max-width: fit-content;
    margin: 2px;
    /* border: .5px solid red; */
    box-shadow: inset 0 0 3px black;
    font-size: small;
    color: rgb(70, 71, 71);
    font-weight: lighter;

}

.msgBox-main-div{
    position: absolute;
    left: 86%;
    top:8.5%;
    height: 100px;
    width: 100px;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #23ffd7;
}

.main-msg-icon{
    font-size: 30px;
    color: #23ffd7;
    background-color: #020104;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    /* border: .5px solid #23ffd7; */
    box-shadow: inset 0 0 18px blue;
    border: 1px solid #23ffd7;
}

.main-msg-icon:hover{
    animation: icon-animation 5s infinite alternate;

}

@keyframes icon-animation {
    0%{box-shadow: inset 0 0 20px rgb(53, 4, 103);
    color: blue;
    transform: scale(1.1);
    }
    50%{box-shadow: inset 0 0 25px rgb(148, 30, 73);
        color: #d40000db;
        transform: rotate(190deg) scale(.8);
        border: 1px solid #d40000db;
        /* transform: scale(0.8); */
    }

}